$body-background-color:#f6f6f6;
$primary-background-color: #13CE66;
$primary-foreground-color:#13CE66;
$h3-color:#333333;
$primary-color:#fff;
$icon-color:#0ab73d;
$label-border-color:#ececec;
$border-color:#ececec;
$toolbar-background-color:#eef1f6;
$empty-background-color:#e6e6e6;
$bg-big-line-color:#13CE66;
$nav-background-color:#eef1f6;