$body-background-color:#e9ecef;
$primary-background-color: #34495e;
$primary-foreground-color:#13CE66;
$h3-color:#333333;
$primary-color:#fff;
$icon-color:#e3efe6;
$label-border-color:#ececec;
$border-color:#ececec;
$toolbar-background-color:#eef1f6;
$empty-background-color:#324157;
$bg-big-line-color:#13CE66;
$nav-background-color:#001529;
$nav-bottom-border-color:#333;
$nav-text-color:#bfcbd9;
$logo-background-color:#0999a6;
$logo-bottom-color:#e74c3c;
$logo-top-color:#34495e;
$menu-background-color:#001529;