@import 'variable.scss';
html,
body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    flex-shrink: 1;
    min-height: 100%;
}

.bg-flex-full {
    flex-grow: 1;
    align-items: stretch;
    flex-shrink: 1;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    flex-shrink: 1;
}

.bg-global-overlay {
    position: fixed;
    transform-origin: center center;
    perspective: 2000px;
    background: rgba(0, 0, 0, .1);
    border-radius: 0;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: rgba(0, 0, 0, .85);
    line-height: 1;
    animation-fill-mode: both;
    animation-duration: .5s;
    transition: background-color .5s linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}

.bg-global-overlay-body {
    position: relative;
    color: white;
}

.bg-app-frame {
    display: flex;
    flex-direction: column;
}

.bg-app-frame-header {
    flex-basis: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    border-bottom: 1px solid $nav-bottom-border-color;
}

.bg-app-frame-header-icon {
    background: $primary-background-color;
    flex-basis: 180px;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    border-right: 1px solid $nav-bottom-border-color;
}

.bg-app-frame-header-icon img {
    height: 48px;
}

.bg-app-frame-header-icon span {
    font-size: 25px;
    margin-left: 5px;
    letter-spacing: 0.099em;
}

.bg-app-frame-header-nav {
    background: $primary-background-color;
    display: flex;
    flex-direction: column-reverse;
}

.bg-app-frame-body {
    flex-basis: auto;
    display: flex;
}

.bg-app-frame-body-app-group {
    display: flex;
    background: $empty-background-color;
    flex-basis: 61px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.bg-app-frame-body-app-group ul {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #19b352;
}

.bg-app-frame-body-app-group ul>li {
    padding-top: 25px;
    cursor: pointer;
}

.bg-app-frame-work-area {
    display: flex;
}

.bg-app-nav-button-bar {
    display: flex;
    align-items: bottom;
    align-items: stretch;
    height: 100%;
    vertical-align: middle;
}

.bg-app-shortcut-add {
    padding: 5px;
    display: inline-block;
}

.bg-app-shortcut-action-btn {
    display: flex;
    color: white;
    cursor: pointer;
    align-items: center;
    padding: 0px 10px;
}

.bg-app-shortcut-action-btn:hover,
.bg-app-shortcut-action-btn.active {
    color: white;
    background: $logo-bottom-color;
}

.bg-app-shortcut-action-btn-title {
    margin-left: 4px;
}

.bg-app-frame-body-area {
    display: flex;
}

.bg-app-container {
    display: flex;
    flex-direction: column;
}

.bg-app-container-header {
    padding: 10px 20px;
    border-bottom: 1px solid $border-color;
}

.bg-app-container-header>h3 {
    padding: 0px;
    margin: 0px;
    color: $h3-color
}

.bg-app-container-body {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.bg-app-container-body-menu {
    display: block;
    min-width: 280px;
    background: $menu-background-color;
}

.bg-app-container-body-menu-header {
    background: $primary-background-color;
    padding: 12px;
    margin: 0;
    font-size: 14px;
    color: $primary-color;
}

.bg-app-container-body-content {
    display: flex;
}

.bg-model-op-view {
    display: flex;
    flex-direction: column;
    background: none;
}

.bg-model-op-view-toolbar {
    background: $toolbar-background-color;
    padding: 2px 2px;
    border: 1px solid $border-color;
}

.bg-model-op-view-toolbar-back {
    border: none;
    background: none;
    outline: none;
    user-select: none;
    font-size: 10px;
}

button:focus {
    outline: 0;
}

.bg-model-op-view-actions {
    display: flex;
    background: $View-actions-background-color;
    margin: 5px;
    padding: 10px;
    border: 1px solid $border-color;
}

.bg-model-op-view-actions button {
    margin-right: 0.5rem;
}

.bg-model-op-view-actions-main-group {
    display: flex;
}

.bg-model-op-view-actions-sub-group {
    display: flex;
}

.bg-model-op-view-body {
    margin: 5px;
    padding: 30px 30px;
    border: 1px solid $border-color;
    background: white;
}

.bg-model-op-view-body-main {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
}

.bg-model-op-view-body-main-h {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    padding-right: 10px;
}

.bg-model-op-view-body-main-h1 {
    margin-bottom: 10px;
    width: 280px;
}

.bg-model-op-view-body-main-h2 {
    margin-bottom: 10px;
    width: 380px;
}

.bg-model-create-view-body-main-label {
    display: flex;
    width: 280px;
    flex-direction: row;
}

.bg-model-op-vew-body-relation {
    display: flex;
}

.bg-op-label {
    width: 88px;
    height: 88px;
    margin: 10px;
    border: 1px solid $label-border-color;
    display: inline-block;
    padding: 10px;
}

.bg-op-label h3 {
    font-size: 13px;
    color: $icon-color;
    font-size: 13px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    user-select: none;
}

.bg-op-label div {
    text-align: center;
}

.bg-op-label-icon {
    fill: $icon-color;
    width: 48px;
    height: 48px;
}

.bg-model-op-view-body-common {
    padding: 30px 30px;
    display: block;
}

.bg-model-op-view-body-common-two-col {
    display: flex;
    align-items: stretch;
}

.bg-model-op-view-body-common-one-col {
    display: flex;
    align-items: stretch;
    margin-bottom: 22px;
}

.bg-model-op-view-body-common-one-col .ant-row {
    width: 100%;
}

.bg-model-op-view-body-common-two-col-first {
    border-right: 1px solid $border-color;
    padding-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding-bottom: 22px;
}

.bg-model-op-view-body-common-two-col-second {
    padding-left: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding-bottom: 22px;
}

.bg-big-line {
    margin: 0 -20px;
}

.bg-model-op-view-body-relation {
    padding: 5px;
    border: 1px solid #ddd;
    background: $body-background-color;
}

.bg-model-op-view-body-relation-nav {
    margin: 0px;
    padding: 0px;
}

.bg-model-op-view-body-relation-work-area {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.bg-model-op-view-body-relation-work-area .sub-toolbar {
    padding: 10px 10px;
    background: $toolbar-background-color;
    border: 1px solid $border-color;
}

.bg-model-list-view-search-box {
    display: block;
}

.bg-model-list-view-search-box .sub-body {
    display: block;
    padding: 10px 20px;
    width: 789px;
}

.bg-model-list-view-search-box .sub-search-tags {
    display: flex;
    background: white;
    border: 1px solid $border-color;
    padding: 20px;
}

.bg-model-list-view-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    background: $primary-color;
}

.bg-model-list-view-body-control-header {
    align-self: flex-end;
}

.bg-model-list-view-body-control {
    display: flex;
    padding: 5px;
}

.bg-model-list-view-body-control-footer {
    padding: 10px;
    margin-bottom: 20px;
}

.bg-avatar {
    border: 1px solid $border-color;
    height: 58px;
    text-align: center;
}

.bg-avatar:hover {
    border-style: dashed;
    border-color: #19b352;
}

.bg-waiting-sheet {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-waiting-sheet-show {
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
}

.bg-waiting-g {
    width: 20px;
    height: 0px;
    background: $Waiting-color;
    margin: 2px;
}

@keyframes bg-waiting-g1 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g1 {
    animation-name: bg-waiting-g1;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g2 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g2 {
    animation-name: bg-waiting-g2;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g3 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g3 {
    animation-name: bg-waiting-g3;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g4 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g4 {
    animation-name: bg-waiting-g4;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g5 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g5 {
    animation-name: bg-waiting-g5;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g6 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g6 {
    animation-name: bg-waiting-g6;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g7 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g7 {
    animation-name: bg-waiting-g7;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bg-waiting-g8 {
    0% {
        height: 0px;
        background: $Waiting-color;
    }
    100% {
        height: 80px;
        background: #e67e22;
    }
}

.bg-waiting-g8 {
    animation-name: bg-waiting-g8;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.bg-many2one-select-more-btn {
    text-align: center;
    color: $Font-icon-color;
    border: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    width: 32px;
}

.bg-many2one-select-more-btn:hover {
    background: $Font-icon-background-active-color;
    color: $Font-icon-active-color;
}

.bg-open-sheet-container {
    width: 80%;
}

.bg-sheet-queue-container-lay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 10;
}

.bg-sheet-dialog {
    position: absolute;
    top: 15%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    margin-bottom: 50px;
}

.bg-sheet-dialog-header {
    padding: 20px 20px 10px;
}

.bg-sheet-dialog-header span {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: #1f2d3d;
}

.bg-sheet-dialog-header button {
    padding: 0;
    float: right;
    background: 0 0;
    border: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    margin-top: -6px;
}

.bg-sheet-dialog-header button::after {
    clear: both;
}

.bg-sheet-dialog-body {
    position: relative;
    overflow: auto;
    color: #48576a;
    font-size: 14px;
    background: $body-background-color;
}

.ant-table-thead>tr,
.ant-table-thead>tr:hover {
    background: $table-header-background-color;
}

.ant-table-thead>tr>th {
    color: $table-header-color;
}

.bg-many2one-select-co {
    display: flex;
    flex-direction: row;
}

.bg-list-view-action-search-section {
    background: $View-actions-background-color;
    margin: 5px;
    padding: 10px;
    border: 1px solid $border-color;
}

.bg-list-view-action-search-section .bg-divider-line {
    margin: 10px -10px;
}

.bg-list-view-search-box-show-op {
    text-align: center;
    position: relative;
}

.bg-list-view-search-box-show-op span {
    position: absolute;
    top: 5px;
    padding: 0 20px;
    height: 18px;
    background: $View-actions-background-color;
    cursor: pointer;
}

.bg-list-view-search-box-show-op span.open i {
    transform: rotate(180deg);
}

.bg-list-view-search-box {
    margin-bottom: 5px;
}

.bg-list-view-search-box-item {
    padding: 5px;
}

.bg-list-view-search-box-btn {
    margin-top: 26px;
    margin-left: 20px;
}

.bg-model-op-view-body-relation-nav>.ant-tabs-card>.ant-tabs-content {
    display: none;
}

.bg-model-op-view-body-relation-nav>.ant-tabs-card>.ant-tabs-content>.ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
}

.bg-model-op-view-body-relation-nav>.ant-tabs-card>.ant-tabs-bar {
    border-color: #fff;
    margin-bottom: 0;
}

.bg-model-op-view-body-relation-nav>.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

.bg-model-op-view-body-relation-nav>.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
}

.bg-model-op-view-body-relation-body {
    background: #fff;
}

.bg-app-shorcut-setting {
    display: block;
    position: relative;
}

.bg-app-shorcut-setting ul {
    padding: 10px 3px;
    margin: 0;
    list-style: none;
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: white;
    min-height: 98px;
}

.bg-app-shorcut-setting ul>li.app {
    padding: 10px !important;
    margin: 2px;
    list-style: none;
    list-style-type: none;
    display: inline-block;
    background: #1890ff;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    min-width: 78px;
}

.bg-app-shorcut-setting ul>li.app h4 {
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

.bg-app-shorcut-setting ul>li.save {
    padding: 0;
    margin: 2px;
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    min-width: 78px;
    height: auto;
}

.bg-worktable {
    display: flex;
    margin: 0;
    padding: 0px;
    flex-direction: column;
    flex-grow: 1;
}

.bg-worktable-header {
    background: linear-gradient(90deg, #257bf9, #2426ca);
    margin-bottom: 4px;
    box-shadow: 0 0 30px rgba(16, 14, 23, .25);
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: white;
}

.bg-worktable-header .p-logo {
    margin-right: 4px;
}

.bg-worktable-header .p-name {
    font-size: 1rem;
    font-weight: 500;
}

.bg-worktable-header .p-corp-name {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffffc2;
}

.bg-worktable-body {
    min-height: 600px;
    padding: 10px 10px;
}

.bg-worktable-footer {
    background: white;
    border: 1px solid #ddd;
    flex-basis: auto;
}

.bg-model-op-view-body-main-label {
    padding: 5px;
}

.bg-model-op-view-body-main-label .ant-descriptions-view table {
    width: auto;
}

.bg-form-workarea {
    padding: 10px;
    background: white;
    padding-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.bg-sms-attach-controls {
    display: flex;
    flex-direction: row;
    background: #f4f4f4;
    padding: 20px;
}

.bg-sms-attach-controls>div {
    margin-right: 20px;
}

.bg-sms-attach-controls>div span {
    margin-right: 5px;
}

.bg-chat-main-frame {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.bg-chat_channel-members-area {
    background: #21272e;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-basis: 28.6rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.bg-chat-channel-bar {
    flex-shrink: 0;
    flex-basis: 13.5rem;
    flex-grow: 0;
    background: #282e36;
    margin-right: 0.1rem;
}

.bg-chat-channel-members-bar {
    flex-shrink: 0;
    flex-basis: 15rem;
    flex-grow: 0;
    background: #333a44;
}

.bg-chat-channel-message-window {
    flex-shrink: 1;
    flex-basis: 100%;
    flex-grow: 1;
    background: #eef0f3;
}

.bg-chat-channel-active-session-bar {
    flex-shrink: 0;
    flex-basis: 10rem;
    flex-grow: 0;
    background: #fff;
}

.bg-chat-channel-header {
    color: white;
    padding: 0.8rem;
}

.bg-chat-channel-body {
    padding: 0.0rem 0.0rem;
}

.bg-chat-channel-bar .bg-chat-channel-header {
    border-bottom: #31373f 2px solid;
}

.bg-chat-channel-bar .bg-chat-channel-body {
    background: none;
}

.bg-chat-channel-members-bar .bg-chat-channel-header {
    border-bottom: #31373f 2px solid;
}

.bg-chat-channel-body-channel-container {
    color: #7f8286;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bg-chat-channel-body-channel-container .bg-chat-channel-body-channel-item {
    list-style-type: none;
    list-style: none;
    padding: 0.6rem 0.5rem;
    cursor: pointer;
    font-size: 95%;
}

.bg-chat-channel-body-channel-container .bg-chat-channel-body-channel-item:hover,
.bg-chat-channel-body-channel-container .bg-chat-channel-body-channel-item.active {
    color: #fff;
    background: #343c45;
}

.bg-chat-channel-members-container {
    color: #7f8286;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bg-chat-channel-members-container .bg-chat-channel-members-channel-item {
    list-style-type: none;
    list-style: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    font-size: 95%;
    display: flex;
    flex-direction: row;
}

.bg-chat-channel-members-container .bg-chat-channel-members-channel-item:hover,
.bg-chat-channel-members-container .bg-chat-channel-members-channel-item.active {
    background: #1890ff;
}

.bg-chat-channel-members-container .bg-chat-channel-members-channel-item:hover .bg-chat-channel-members-item-userinfo-title,
.bg-chat-channel-members-container .bg-chat-channel-members-channel-item.active .bg-chat-channel-members-item-userinfo-title {
    color: #eee;
}

.bg-chat-channel-members-item-icon>img {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.bg-chat-channel-members-item-userinfo {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.bg-chat-channel-members-item-userinfo-nickname {
    color: white;
    margin-top: 0.3rem;
}

.bg-chat-channel-members-item-userinfo-title {
    margin-top: 0.2rem;
    font-size: 90%;
}

.bg-chat-channel-message-window {
    background: #e9ecf2;
    display: flex;
    flex-direction: column;
}

.bg-chat-channel-message-window .bg-chat-channel-header {
    border-bottom: rgb(185, 184, 184) 2px solid;
    flex-basis: 4.5rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.bg-chat-channel-message-window .bg-chat-channel-header .bg-channel-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.bg-chat-channel-message-window .bg-chat-channel-header .bg-channel-name {
    font-size: 110%;
    color: #000;
    margin-right: 0.3rem;
}

.bg-chat-channel-message-window .bg-chat-channel-header .bg-channel-member-nickname {
    font-size: 95%;
    color: #888;
    margin-right: 0.3rem;
}

.bg-chat-channel-message-window .bg-chat-channel-header .bg-channel-member-status {
    font-size: 85%;
    color: #1890ff;
}

.bg-chat-channel-message-window-body {
    padding: 0.6rem 1rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.bg-chat-channel-message-window-input {
    background: #fff;
    flex-basis: 6rem;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.3rem;
}

.bg-chat-channel-message-window-input-area {
    background: #e9ecf2;
}

.bg-chat-channel-message-window-input-actions {
    padding: 0.2rem 0.5rem;
}

.bg-sheet-confirm-dialog {
    width: 40%;
    min-width: 580px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    margin-bottom: 50px;
}

.bg-sheet-confirm-dialog-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.bg-sheet-confirm-dialog-footer {
    padding: 10px 16px;
    text-align: right;
    background: transparent;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
}

.bg-sheet-confirm-dialog-footer button+button {
    margin-bottom: 0;
    margin-left: 8px;
}

.bg-chat-channel-message {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.bg-chat-channel-message .msg-container-me {
    display: flex;
    flex-direction: column;
}

.bg-chat-channel-message .msg-container-me .msg-header {
    display: flex;
    flex-direction: row-reverse;
}

.bg-chat-channel-message .msg-container-me .msg-header>img {
    width: 2rem;
    border-radius: 1rem;
}

.bg-chat-channel-message .msg-container-me .msg-header>span {
    margin-right: 0.4rem;
}

.bg-chat-channel-message .msg-container-me .msg-header>span+span {
    margin-right: 0.5rem;
    color: #a5a5a5;
    font-size: 0.8rem;
}

.bg-chat-channel-message .msg-container-me .msg-body {
    display: flex;
    flex-direction: row-reverse;
}

.bg-chat-channel-message .msg-container-me .msg-body>.msg-body-content {
    background: #0084ff;
    padding: 0.5rem 1.0rem;
    color: white;
    margin-top: 1.4rem;
    border-radius: 0.2rem;
    position: relative;
}

.bg-chat-channel-message .msg-container-me .msg-body>.msg-body-content::before {
    content: " ";
    width: 0px;
    height: 0px;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid #0084ff;
    position: absolute;
    display: block;
    top: -1rem;
    right: 0.5rem;
}

.bg-chat-channel-message .msg-container-other {
    display: flex;
    flex-direction: column;
}

.bg-chat-channel-message .msg-container-other .msg-header {
    display: flex;
    flex-direction: row;
}

.bg-chat-channel-message .msg-container-other .msg-header>img {
    width: 2rem;
    border-radius: 1rem;
}

.bg-chat-channel-message .msg-container-other .msg-header>span {
    margin-left: 0.4rem;
}

.bg-chat-channel-message .msg-container-other .msg-header>span+span {
    margin-left: 0.5rem;
    color: #a5a5a5;
    font-size: 0.8rem;
}

.bg-chat-channel-message .msg-container-other .msg-body {
    display: flex;
    flex-direction: row;
}

.bg-chat-channel-message .msg-container-other .msg-body>.msg-body-content {
    background: white;
    padding: 0.5rem 1.0rem;
    color: black;
    margin-top: 1.4rem;
    border-radius: 0.2rem;
    position: relative;
}

.bg-chat-channel-message .msg-container-other .msg-body>.msg-body-content::before {
    content: " ";
    width: 0px;
    height: 0px;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid white;
    position: absolute;
    display: block;
    top: -1rem;
    left: 0.5rem;
}

.ant-tree .ant-tree-node-content-wrapper .bg-corp-department-op {
    display: none;
}

.ant-tree .ant-tree-node-content-wrapper:hover .bg-corp-department-op {
    display: inline-block;
    margin-left: 1rem;
}

.bg-select-image {
    background-color: #fafafa;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
}

.bg-select-image img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
}

.bg-select-image .bg-select-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
    border-radius: 2px;
}

.bg-select-image:hover .bg-select-overlay {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
}

.bg-select-image:hover .bg-select-overlay {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
}

.bg-select-image:hover .bg-select-overlay i {
    margin-left: 30px;
    margin-top: 30px
}

.bg-select-image .bg-select-overlay-none-image {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-radius: 2px;
}

.bg-select-image .bg-select-overlay-none-image i {
    margin-left: 30px;
    margin-top: 30px
}

.bg-worktable-crm-statistic-summary {
    background-color: white;
    border: 2px solid #e0e0e0;
    padding: 10px;
}

.bg-worktable-body .area-header {
    color: #373737;
    font-size: 16px;
    margin-bottom: 1rem;
}

.bg-worktable-body .area-header .ant-tag {
    border: none;
    user-select: none;
}

.bg-worktable-body .area-header .ant-tag:hover,
.bg-worktable-body .area-header .ant-tag.active {
    color: white;
    background: rgb(16, 142, 233);
}

.bg-worktable-crm-statistic-summary-body {
    display: flex;
    flex-shrink: 1;
}

.bg-worktable-crm-statistic-summary-body>div {
    display: flex;
    padding: 10px;
    flex-grow: 1;
    border-left: #e8e8e8 1px solid
}

.bg-worktable-crm-statistic-summary-body>div:first-child {
    border-left: none;
}

.bg-worktable-crm-statistic-summary-item-icon {
    border-radius: 3rem;
    height: 3rem;
    width: 3rem;
    color: white;
    font-size: 1.2rem;
    padding-left: 0.8rem;
    line-height: 3rem;
    margin-right: 0.5rem;
}

.bg-worktable-crm-statistic-summary-item h4 {
    color: #676767;
}

.bg-worktable-crm-statistic-summary-item span {
    color: #949494;
}

.bg-worktable-sales-container {
    display: flex;
}

.bg-worktable-sales-container .bg-work-funnel-view {
    flex-grow: 1;
    background-color: white;
    border: 2px solid #e0e0e0;
    padding: 10px;
}

.bg-worktable-sales-container .bg-work-sales-top-list-view {
    background-color: white;
    border: 2px solid #e0e0e0;
    padding: 10px;
    flex-basis: 20rem;
}

.bg-work-worktable-salesfunnel-chart {
    min-height: 18rem;
}

.bg-work-log-notify-container {
    display: flex;
}

.bg-work-log-notify-container .bg-work-log-list-view {
    flex-grow: 1;
    background-color: white;
    border: 2px solid #e0e0e0;
    padding: 10px;
}

.bg-model-event-log-container {
    padding: 2rem 3rem;
    position: relative;
    border-top: 1px solid #eee;
}

.bg-model-event-log-container-event {
    position: relative;
    padding: 2rem;
}

.bg-model-event-log-container-event::before {
    content: ' ';
    width: 1px;
    background: #d3d1d7;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-model-event-log-container-event-logo {
    position: absolute;
    top: 0;
    left: -1rem;
}

.bg-model-event-log-container-event-logo-image {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.bg-model-event-log-container-event-logo-text {
    font-size: 1rem;
    background: #e67e22;
    border-radius: 1rem;
    display: inline-block;
    padding: 0.15rem;
    color: white;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.bg-model-event-log-container-event-title {
    position: absolute;
    top: 0.3rem;
    color: #2c3e50;
}

.bg-model-event-log-container-event-title-time {
    font-size: 90%;
    color: rgb(110, 109, 109);
    margin-left: 3rem;
}

.bg-a {
    color: #003e59;
    cursor: pointer;
}

.bg-a:hover {
    color: #1283ba;
}