@import 'variable.scss';
html,
body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    flex-shrink: 1;
    min-height: 100%;
}

.bg-flex-full {
    flex-grow: 1;
    align-items: stretch;
    flex-shrink: 1;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    flex-shrink: 1;
}

.bg-global-overlay {
    position: fixed;
    transform-origin: center center;
    perspective: 2000px;
    background: rgba(0, 0, 0, .1);
    border-radius: 0;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: rgba(0, 0, 0, .85);
    line-height: 1;
    animation-fill-mode: both;
    animation-duration: .5s;
    transition: background-color .5s linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}

.bg-global-overlay-body {
    position: relative;
    color: white;
}

.bg-app-frame {
    display: flex;
    flex-direction: column;
}

.bg-app-frame-header {
    flex-basis: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    border-bottom: 1px solid $nav-bottom-border-color;
}

.bg-app-frame-header-icon {
    background: $logo-background-color;
    flex-basis: 143px;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    border-right: 1px solid $nav-bottom-border-color;
}
.bg-app-frame-header-icon img{
    height:48px;
}
.bg-app-frame-header-icon span {
    font-size: 18px;
}

.bg-app-frame-header-nav {
    background: $primary-background-color;
    display: flex;
    flex-direction: column-reverse;
  
}

.bg-app-frame-body {
    flex-basis: auto;
    display: flex;
}

.bg-app-frame-body-app-group {
    display: flex;
    background: $empty-background-color;
    flex-basis: 61px;
    flex-direction: column;
}

.bg-app-frame-body-app-group ul {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #19b352;
}

.bg-app-frame-body-app-group ul>li {
    padding-top: 25px;
    cursor: pointer;
}

.bg-app-frame-work-area {
    display: flex;
}

.bg-app-nav-button-bar {
    display: flex;
    align-items: bottom;
    align-items: stretch;
    height: 100%;
    vertical-align: middle;
}

.bg-app-shortcut-add {
    padding: 5px;
    display: inline-block;
}

.bg-app-shortcut-action-btn {
 
    display: flex;
    color:#bfcbd9;
    cursor: pointer;
    align-items: center;
    padding: 0px 10px;
}
.bg-app-shortcut-action-btn:hover,
.bg-app-shortcut-action-btn.active
{
    color:#d3dfee;
    background: $logo-bottom-color;
}

.bg-app-shortcut-action-btn span{
    margin-left: 4px;
}
.bg-app-frame-body-area {
    display: flex;
}

.bg-app-container {
    display: flex;
    flex-direction: column;
}

.bg-app-container-header {
    padding: 10px 20px;
    border-bottom: 1px solid $border-color;
}

.bg-app-container-header>h3 {
    padding: 0px;
    margin: 0px;
    color: $h3-color
}

.bg-app-container-body {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.bg-app-container-body-menu {
    display: block;
    min-width: 280px;
    background: $menu-background-color;
}

.bg-app-container-body-menu-header {
    background: $primary-background-color;
    padding: 12px;
    margin: 0;
    font-size: 14px;
    color: $primary-color;
}

.bg-app-container-body-content {
    display: flex;
}



.bg-model-op-view {
    display: flex;
    flex-direction: column;
    background: none;
}

.bg-model-op-view-toolbar {
    background: $toolbar-background-color;
    padding: 2px 2px;
    border: 1px solid $border-color;
}

.bg-model-op-view-toolbar-back {
    border: none;
    background: none;
    outline: none;
    user-select: none;
    font-size: 10px;
}

button:focus {
    outline: 0;
}

.bg-model-op-view-actions {
    background: white;
    margin: 5px;
    padding: 10px;
    border: 1px solid $border-color;
}

.bg-model-op-view-actions-main-group {
    display: flex;
}

.bg-model-op-view-actions-sub-group {
    display: flex;
}

.bg-model-op-view-body {
    margin: 5px;
    padding: 30px 30px;
    border: 1px solid $border-color;
    background: white;
}

.bg-model-op-view-body-main {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
}

.bg-model-op-view-body-main-h {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    padding-right: 10px;
}

.bg-model-op-view-body-main-h1 {
    margin-bottom: 10px;
    width: 280px;
}

.bg-model-op-view-body-main-h2 {
    margin-bottom: 10px;
    width: 380px;
}

.bg-model-create-view-body-main-label {
    display: flex;
    width: 280px;
    flex-direction: row;
}

.bg-model-op-vew-body-relation {
    display: flex;
}

.bg-op-label {
    width: 88px;
    height: 88px;
    margin: 10px;
    border: 1px solid $label-border-color;
    display: inline-block;
    padding: 10px;
}

.bg-op-label h3 {
    font-size: 13px;
    color: $icon-color;
    font-size: 13px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    user-select: none;
}

.bg-op-label div {
    text-align: center;
}

.bg-op-label-icon {
    fill: $icon-color;
    width: 48px;
    height: 48px;
}

.bg-model-op-view-body-common {
    display: block;
}



.bg-model-op-view-body-common-two-col {
    display: flex;
    align-items: stretch;
}

.bg-model-op-view-body-common-one-col {
    display: flex;
    align-items: stretch;
    margin-bottom: 22px;
}



.bg-model-op-view-body-common-two-col-first {
    border-right: 1px solid $border-color;
    padding-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding-bottom: 22px;
}

.bg-model-op-view-body-common-two-col-second {
    padding-left: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding-bottom: 22px;
}

.bg-big-line {
    border: none;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid $bg-big-line-color;
    margin: 20px 0px;
}

.bg-model-op-vew-body-relation {
    margin-bottom: 60px;
}

.bg-model-op-view-body-relation-work-area {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}



.bg-model-op-view-body-relation-work-area .sub-toolbar {
    padding: 10px 10px;
    background: $toolbar-background-color;
    border: 1px solid $border-color;
}

.bg-model-list-view-search-box {
    display: block;
}

.bg-model-list-view-search-box .sub-body {
    display: block;
    padding: 10px 20px;
    width: 789px;
}

.bg-model-list-view-search-box .sub-search-tags {
    display: flex;
    background: white;
    border: 1px solid $border-color;
    padding: 20px;
}

.bg-model-list-view-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
}

.bg-model-list-view-body-control-header {
    align-self: flex-end;
}

.bg-model-list-view-body-control {
    display: flex;
    background:$primary-color;
    padding:5px;
}

.bg-avatar {
    border: 1px solid $border-color;
    height: 58px;
    text-align: center;
}

.bg-avatar:hover {
    border-style: dashed;
    border-color: #19b352;
}
.bg-waiting-sheet{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-waiting-sheet-show {
    position: relative;
    display: flex;
    height:80px;
    align-items:center;
}

.bg-waiting-g{
    width:20px;
    height:0px;
    background: $primary-background-color;
    margin:2px;
}


 @keyframes bg-waiting-g1 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
.bg-waiting-g1 {
    animation-name: bg-waiting-g1;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }
  @keyframes bg-waiting-g2 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
.bg-waiting-g2 {
    animation-name: bg-waiting-g2;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  @keyframes bg-waiting-g3 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
.bg-waiting-g3 {
    animation-name: bg-waiting-g3;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  @keyframes bg-waiting-g4 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
.bg-waiting-g4 {
    animation-name: bg-waiting-g4;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  @keyframes bg-waiting-g5 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
  .bg-waiting-g5 {
    animation-name: bg-waiting-g5;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  @keyframes bg-waiting-g6 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
  .bg-waiting-g6 {
    animation-name: bg-waiting-g6;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  @keyframes bg-waiting-g7 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
  .bg-waiting-g7 {
    animation-name: bg-waiting-g7;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  @keyframes bg-waiting-g8 {
    0% {
        height: 0px;
        background:$primary-background-color;
      }
      100% {
        height:80px;
        background:#e67e22;
      }
  }
  
  .bg-waiting-g8{
    animation-name: bg-waiting-g8;
    animation-duration: 0.8s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  .bg-many2one-select-more-btn-container{
      text-align: center;
  }
  .bg-open-sheet-container{
      width:80%;
  }
  .bg-sheet-queue-container-lay{
      position: fixed;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      background:rgba(0,0,0,0.2);
      overflow: auto;
      z-index: 10;
  }
  .bg-sheet-dialog{
    position: absolute;
    top:15%;
    width:80%;
    min-height:60%;
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .bg-sheet-dialog-header{
    padding: 20px 20px 10px;
  }
  .bg-sheet-dialog-header span{
        padding:0;
        margin:0;
        line-height: 1;
        font-size: 16px;
        font-weight: 700;
        color: #1f2d3d;
  }
  .bg-sheet-dialog-header button{
        padding:0;
        float: right;
        background: 0 0;
        border: none;
        outline: 0;
        padding: 0;
        cursor: pointer;
        font-size: 16px;
        margin-top: -6px;
  }

  .bg-sheet-dialog-header button::after{
      clear: both;
  }
  .bg-sheet-dialog-body{
    position: relative;
    overflow: auto;
    padding: 30px 20px;
    color: #48576a;
    font-size: 14px;
    background:$body-background-color;
  }